
<div id="homepage_style">	
	<div class="row">
		<div class="col-md-4">
			<h2>
				Who am I?
			</h2>
			<p>
				Hello! my name is Dan Coley. I'm a fullstack developer who's a board/video game enthusist. I love taking on challenges and pushing my self to the limit. I'm an Arizona native and I love to tinker and play golf.
			</p>
			
		</div>
		<div class="col-md-4">
			<h2>
				What do I know?
			</h2>
			<p>
				I have a good working knowledge of Ruby, Rails, HTML/CSS, Javascript, SQL, Angular 2, and Spanish. I have made it a piority to be very well rounded and be able to work back end profeciently as well as front end.
			</p>
			
		</div>
		<div class="col-md-4">
			<h2>
				Why do I do it?
			</h2>
			<p>
				I started coding after realizing I wanted a career that I could grow with and support my family. Though I initially just wanted the job security I have really grown to love what I'm learning and doing.
			</p>
			
		</div>
	</div>
</div>
