body {
	background: url('snowpic.jpg') no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	/*background-color: #06d896;*/
	/*background-color: #88f7f7;*/
}

#navbar {
	background-color: white;
	opacity: .8;

}

.nav li {
	display: inline-block;
}

.container-fluid {
    margin: 50px 100px 0px 100px;
}

@media only screen and (max-width: 1000px) {
    .container-fluid {
        margin: 25px 50px 0px 50px;
    }
}

@media only screen and (max-width: 800px) {
    .container-fluid {
        margin: 5px 5px 0px 5px;
    }
}

div.transbox {
 margin: 30px;
 background-color: #ffffff ;
 border: 1px solid black;
 opacity: 0.7;
 filter: alpha(opacity=60);
 border-radius: 7px; 
}

div.transbox p {
  margin: 5%;
  /*font-weight: bold;*/
  color: #000000;
} 

div.transbox h2 {
  margin: 5%;
  font-weight: bold;
  color: #000000;
} 

li {
	font-size: 1.25em;
	padding-left: 30px;
}

#main-title h1 {
	font-family: 'Tangerine', cursive;
	font-size: 4em;
	padding: 20px;
	padding-top: 5px;
}

#homepage_style h2 {
	font-family: 'Tangerine', cursive;
	font-size: 2em;
}

#homepage_style p {
	font-size: 1.5em;
}

#projects_style h2 {
	font-family: 'Tangerine', cursive;
	font-size: 2.5em;
}

#projects_style p {
	font-size: 1em;
}

#projects_style a {
	font-size: 1em;
}

#contact_style h3 {
	font-family: 'Tangerine', cursive;
	font-size: 2em;
}

#contact_style h4 {
	font-size: 1.5em;
}

#contact_style h1 {
	font-family: 'Tangerine', cursive;
	font-size: 3em;
}

#contact_style {
	text-align: center;
}







